@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/*default*/
/* a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
} */

a {
    color: steelblue
}

/* pseudoclass */
/* Proper order: a - visited - hover - active */

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: dodgerblue;
    opacity: 0.6    ;
}

a:active {
    color: red;
}