
/* https://coolors.co/ */
/* https://coolors.co/contrast-checker/112a46-acc8e5 */

body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: papayawhip;
  color: darkblue

}