@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
    /* list-style-type: lower-alpha; */
    /* list-style-type: decimal */
    /* list-style-type: decimal-leading-zero; */
    /* list-style-type: circle; */
    /* list-style-type: disc; Looks like ul */
    /* list-style-type: upper-roman; */
    list-style-type: lower-alpha;
    padding: 0;
}

ul {
    list-style-type: square;
    text-align: center; /*Leaves the points on the left*/
    /*can be fixed with -->*/
    list-style-position: inside;
    color: blue;
    line-height: 1.6;
    /* list-style-image: url('../images/png-clipart-check-check-mark-logo-villa-check-miscellaneous-angle-thumbnail.png');
    /*Square becomes default if image cannot upload*/
    list-style: square url('../images/png-clipart-check-check-mark-logo-villa-check-miscellaneous-angle-thumbnail.png') inside */
}

/*We can override all with -->*/

/* li {
    color: red;
} */

/*Override some*/

/* ul li {
    color: red;
} */

/*odd, even are options as well*/
ul li:nth-child(even) { 
    color: red;
}

ul ::marker {
    color: red;
    font-size: 1em;
    content: "Only $5 >>" /*sgv, fontawesome...*/
}
